# Compiled object files
*.o

# Generated MOC, resource and UI files
moc_*.cpp
qrc_*.cpp
ui_*.h

# Generated build files
Makefile
Makefile.*
*.pro.user

# Debug and Release directories (created under Windows, not Linux)
Debug/
Release/

# .log files (usually created by QtTest - thanks to VestniK)
*.log

# Built windows .exe and linux binaries
# NOTE: PROJECT is a your project's name, analog of PROJECT.exe in Linux
*.exe
*.dll
QtFractal

# OS specific files
Thumbs.db
desktop.ini
.DS_Store

# Editors temporary files 
*~
*.bak

# Core dumps
core
*.core

